<header class="header d-flex between">
    <div class="nav">
        <div class="nav-item">
            <a class="nav-link" href="">Home</a>
        </div>
        <div class="menu">
            <ul>
                <li class="menu-item"><a class="menu-link" href="characters">Characters</a></li>
                <li class="menu-item"><a class="menu-link" href="locations">Locations</a></li>
                <li class="menu-item"><a class="menu-link" href="episodes">Episodes</a></li>
            </ul>
        </div>
    </div>
    <div class="header-aside">
        <h1><a href="">Rick And Morty</a></h1>
        <div>
            <p>Exploring Multiverses,<br>Characters,<br> and Interdimensional Madness</p>
        </div>
        <div class="d-flex justify-end header-aside-img">
            <img src="assets/imgs/rickMortyPortal.png" alt="" width="50%">
        </div>
    </div>
</header>