.btn {
    background-color: var(--blue);
    border-radius: 10px;
    padding: 15px 25px;
    margin: 10px 5px;
    color: var(--orange);
    font-weight: 700;
    font-size: 4vw;
    text-transform: capitalize;
    transition: background-color 0.7s ease;
}

.btn:hover{
    background-color: var(--orange);
    color: var(--blue);
}

.btn:focus {
    box-shadow: 0 0 5px var(--orange);
}

@media screen and (min-width: 576px) {

    .btn{
        font-size: 2vw;
    }
}