<div class="content">
    <h2 class="title">Locations</h2>

    <!--Filters-->
    <ng-container>
        <div class="d-flex flex-wrap around filters">
            <ng-container *ngFor="let filter of filtersType">
                <ng-container *ngIf="filter.filter == 'text'">
                    <app-text-filter [label]="filter.type" [placeholder]="filter.type"
                        (inputFilter)="addFilter(filter.type ,$event)">
                    </app-text-filter>
                </ng-container>
            </ng-container>
        </div>
    </ng-container>

    <!--List of cards-->
    <ng-container *ngIf="locations.length > 0 && error == ''; else erroTemplate">
        <div class="d-flex flex-wrap around list-cards">
            <ng-container *ngFor="let location of locations">
                <app-card [content]="mapLocationInfos(location)" img="assets/imgs/location.png"
                    [name]="location.name"></app-card>
            </ng-container>
        </div>
        <mat-paginator [length]="paginator.count" [pageSize]="20" aria-label="Select page"
            (page)="getLocations($event.pageIndex)">
        </mat-paginator>
    </ng-container>

</div>

<!--Error templates-->
<ng-template #erroTemplate>
    <ng-container *ngIf="error == '404'">
        <div class="error">
            <p>Oops, no results found in this reality.</p>
        </div>
    </ng-container>
    <ng-container *ngIf="error != '404'">
        <div class="error">
            <p>Erro interdimensional: Portal de dados instável.<br>Tente novamente em outra realidade.</p>
            <button (click)="getLocations()" class="btn">Reload</button>
        </div>
    </ng-container>
</ng-template>