<div class="content">
    <h2 class="title">Characters</h2>
    <div *ngIf="characters.length > 0; else erroTemplate" class="d-flex flex-wrap around list-cards">
        <ng-container *ngFor="let character of characters">
            <app-card
            [img]="character.image" 
            [name]="character.name" 
            [status]="character.status"
            ></app-card>
        </ng-container>
    </div>
</div>

<ng-template #erroTemplate>
    <div class="error">
        <p>Erro interdimensional: Portal de dados instável.<br>Tente novamente em outra realidade.</p>
        <button (click)="getCharacters()" class="btn">Reload</button>
    </div>
</ng-template>