<div class="content">
    <h2 class="title">Characters</h2>

    <!--Filters-->
    <ng-container>
        <div class="d-flex flex-wrap around filters">
            <ng-container *ngFor="let filter of filtersType">
                <ng-container *ngIf="filter.filter == 'text'">
                    <app-text-filter [label]="filter.type" [placeholder]="filter.type"
                        (inputFilter)="addFilter(filter.type ,$event)">
                    </app-text-filter>
                </ng-container>
                <ng-container *ngIf="filter.filter == 'checkbox'">
                    <app-checkbox-filter [label]="filter.type" [filters]="filter.options"
                        (inputCheckbox)="addFilter(filter.type ,$event)">
                    </app-checkbox-filter>
                </ng-container>
            </ng-container>
        </div>
    </ng-container>

    <!--List of cards-->
    <ng-container *ngIf="characters.length > 0 && error == ''; else erroTemplate">
        <div class="d-flex flex-wrap around list-cards">
            <ng-container *ngFor="let character of characters">
                <app-card [content]="mapCharacterInfos(character)" [img]="character.image" [name]="character.name"
                    [status]="character.status"></app-card>
            </ng-container>
        </div>
        <mat-paginator [length]="paginator.count" [pageSize]="10" aria-label="Select page"
            (page)="getCharacters($event.pageIndex)">
        </mat-paginator>
    </ng-container>

</div>

<!--Error templates-->
<ng-template #erroTemplate>
    <ng-container *ngIf="error == '404'">
        <div class="error">
            <p>Oops, no results found in this reality.</p>
        </div>
    </ng-container>
    <ng-container *ngIf="error != '404'">
        <div class="error">
            <p>Erro interdimensional: Portal de dados instável.<br>Tente novamente em outra realidade.</p>
            <button (click)="getCharacters()" class="btn">Reload</button>
        </div>
    </ng-container>
</ng-template>