/* You can add global styles to this file, and also import other style files */

:root {
    --orange: #DA7E2F;
    --blue: #1B3044;
    --light-blue: #DAE6E9;
    --green: #91BF53;
    --white: #F6F6F6;
    --gray: #A1A1A1;
    --black: #000000;
    --red: #B3261E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 5vw;
    margin: 10px 0;
}

.d-flex {
    display: flex;
}

.f-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.align-center {
    align-items: center;
}

.between {
    justify-content: space-between;
}

.around {
    justify-content: space-around;
}

.justify-end {
    justify-content: end;
}

.content {
    background-color: var(--light-blue);
    padding: 50px 0;
    position: relative;
}

.content h2.title {
    position: absolute;
    top: -9vw;
    left: 10vw;
    color: var(--orange);
    font-size: 10vw;
    font-weight: 700;
}

.list-cards {
    margin: 50px;
}

/*error*/

.error {
    margin: 50px;
}

.error p {
    font-size: 1.5vw;
    font-weight: 500;
}

.error .btn {
    padding: 5px 10px;
    margin: 30px 0;
    border-radius: 10px;
    border: 2px solid var(--orange);
    font-size: 1.3vw;
    font-weight: 500;
    transition: all 0.3s;
}

.error .btn:hover {
    background-color: var(--orange);
    color: white;
    border-color: var(--orange);
}

.error .btn:focus {
    outline: none;
    box-shadow: 0 0 5px var(--orange);
}

.filters {
    margin: 50px 0;
}

.mat-mdc-paginator {
    margin: auto;
    width: 50vw;
    border-radius: 25px;
    border: 1px solid var(--orange);
    color: var(--black);
    font-weight: 500;
    background-color: var(--white);
}

* .mat-mdc-paginator-icon {
    fill: var(--black);
}

@media screen and (min-width: 576px) {
    .content h2.title {
        font-size: 7vw;
        top: -6vw;
    }
}